pre {
	border: none;
}

#wrapper {
	width: 400px;
	margin: 0 auto;
	margin-top: 100px;
	border: 1px solid gray;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888;
	height: auto;
}

#login {
	width: 300px;
	margin: 0 auto;
	margin-top: 10px;
	padding-bottom: 15px;
}

#create {
	width: 300px;
	margin: 0 auto;
	margin-top: 10px;
}

.center {
	margin: 0 auto;
}

.divider {
	height: 10px;
}

#logoutbutton {
	margin-right: 30px;
}

#paste {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12px;
  line-height: 18px;
  background-color: #f5f5f5;
  /* border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15); */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
}

#pic {
	width: 35px;
	margin-top: 5px;
}
